@model IEnumerable<BearingApp.Models.MeebaInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pull)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apptInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.socInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evtInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.otherInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.innerInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OuterInt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apptInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.socInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evtInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.otherInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.innerInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OuterInt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


